* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #1c1ccd;
}

header {
    background-color: #6e64df;
    padding: 12px;
    color: rgb(255, 255, 254);
}



nav {

    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    height: 70px;
}

input {
    padding: 5px;
    border-radius: 6px;
    outline: none;
    border: none;
    height: 30px;
    width: 70%;
}

button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: all .5s;
    cursor: pointer;
    font-weight: 600;
}

button:active {
    scale: 1.1;
}

button:hover {
    color: white;
    background-color: #31255a;
}

nav>div {
    display: flex;
    gap: 15px;
}




section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 8px;
    background-color: #7c75e3;
    color: white;

}

 @media all and (max-width:900px) and (min-width:550px) {
    .cont-iframe {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-top: 10px;
    }

}

@media all and (max-width:549px) and (min-width:0px) {
    .cont-iframe {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}


.container span {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(21, 20, 20);
}

.forecast {
    display: flex;
    flex-direction: column;
}

@media all and (max-width:900px) and (min-width:550px) {
    .forecast {
        text-align: center;
    }

}

@media all and (max-width:549px) and (min-width:0px) {
    .forecast {
        text-align: center;
    }

}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 20px;
    color: white;
    border-radius: 8px;
}

@media all and (max-width:900px) and (min-width:550px) {
    .forecast-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media all and (max-width:549px) and (min-width:0px) {
    .forecast-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

.forecast-container div {

    background-color: #1e983e;
    padding: 20px;
    border-radius: 8px;
}